/*****cajita texto*****/
.text-discover{
    height: 40vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin-left: 5vh;
}

/*****cajita iconos*****/
.icons{
    width: 70vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
    margin-bottom: 2vh;
    gap: 2vh;
}

/******iconos*****/
.mic, .albums, .more {
    height: 15vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
    background-color: #202027;
}

/*****imagenes*****/
.img1, .img2, .img3 {
height: 5vh;
}

/*****imagen cover*****/
.cover{
    display: flex;
    justify-content: center;
    align-items: center;

}
.covers{
    width: 40vh;
    height: 40vh;
}

/********responsive*******/
@media screen and (max-width: 420px){
    #discover{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
    }
    .text-discover{
        height: 35vh;        
        width: 50vh;
    }
    .covers{
        width: 35vh;
        height: 35vh;
    }
}