.contacto {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
    margin: 5vh;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vh;
    margin: 5vh;
}

.footer-button{
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: medium;
    text-decoration: solid;
}