.contacto, .social-media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 1.5vh;
}

.twit, .faceb{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.footer-button{
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: medium;
    text-decoration: solid;
}

/********responsive*********/
@media screen and (max-width: 420px) {
    .contacto, .social-media, .twit, .faceb, .about, .contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-button{
        font-size: smaller;
    }
    .twit, .faceb{
        max-width: 25%;
        margin: 2vh;
    }
}