.HomepageText{
    gap: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.button-joinow{
    width: 20vh;
    height: auto;
    background-color: #1762A7;
    color: whitesmoke;
    font-size: 2vh;
    border-radius: 1vh;
    border:none;
    padding: 1vh;
}