.join{
    display: grid;
    grid-template-columns: repeat(auto-fit, 55vh);
    margin: 5vh;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.fun {
    color: rgba(243, 11, 139, 0.904);
}

.formulario{
    background-color: #202027;
    width: 60vh;
    padding: 5vh;
    overflow: hidden;
}

.button-join {
    background-color: blue;
    width: 50vh;
    border-radius: 2vh;
}