/*****JOIN THE FUN.*****/
.text-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.jointhe, .fun{
    font-size: 10vh;
}

.fun {
    font-weight: bolder;
    color: rgba(243, 11, 139, 0.904);
}

/******FORM*****/
.formulario{
    background-color: #202027;
    padding: 3vh;
    border-radius: 2vh;
}

#formBasicName.form-control, #formBasicEmail.form-control, #formBasicPassword.form-control{
    background-color: #202027;
    color: whitesmoke;
}

.button-join {
    color: whitesmoke;
    background-color: #1762A7;
    width: 50vh;
    gap: 1vh;
    padding: 1vh;
    border-radius: 1.5vh;
}

/*******circulos******/
.circle4, .circle5{
    position: absolute;
    border-radius: 50%;
    opacity: 100%;
    z-index: -2;
}

.circle4 {
    background-color:#bc3a801a;
    height: 25em;
    width: 25em;
    right: 120vh;
    top: 40vh;
}

.circle5 {
    background-color: #3457b21a;
    height: 20em;
    width: 20em;
    left: 35vh;
    bottom: 45vh;
}

/***********RESPONSIVE*************/

@media screen and (max-width: 420px){
    #join, .text-form{
        display: flex;
        flex-direction: column;
        padding-top: 4vh;
        margin: 3vh;
    }
    .formulario{
        width: 40vh;
    }

    .button-join{
        width: 34vh;
        margin-top: 2vh;
    }
    .text{
        height: 23vh;
        padding-top: 5vh;
        font-style: bolder;
        justify-content: center;
    }
    .text h1{
        font-size: 7vh;
    }
    .circle4 {
        background-color:#bc3a801a;
        height: 5em;
        width: 5em;
    }
    .circle5 {
        background-color: #3457b21a;
        height: 5em;
        width: 5em;
        left: 90vh;
        bottom: 45vh;
    }
}