.imageHero, .homeText{
    display: flex;
}

.imageHero {
    height: 50%;
}

/*------------CIRCLES-----------*/
.circle1, .circle2, .circle3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: chartreuse;
    display: inline-block;
    position: absolute;
    z-index: 1;
}