.main-portada{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12vh;
}

.ImageHero{
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.ImageHero img {
    height: 80vh;
    padding-top: 10vh;
    top: 10vh;
    left: 15vh;
    position: relative;
}

/*------------CIRCLES-----------*/

.circle1, .circle2, .circle3 {
    border-radius: 50%;
    opacity: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    
}
.circle1{
    background-color:#bc3a801a;
    height: 20em;
    width: 20em;
    top: 35vh;
    bottom: 15vh;
}

.circle2{
    background-color: #3457b21a;
    height: 20em;
    width: 20em;
    bottom: 45vh;
    left: 45vh;
}

.circle3 {
    background-color: #3457b21a;
    height: 30em;
    width: 30em;
    top: 30vh;
    left: 170vh;
}

/**********RESPONSIVE********/
@media screen and (max-width: 420px) {
    .HomepageText{
        display: flex;
        width: 45vh;
        height: 80vh;
        padding: 8vh;
    }
    .ImageHero, .ImageHero img {
        display: none;
    }

    .circle1{
        width: 6em;
        height: 6em;
        top: 55vh;
        left: 3vh;
    }
    .circle2{
        width: 7em;
        height: 7em;
        bottom: 70vh;
        left: 15vh;
    }
    .circle3{
        width: 8em;
        height: 8em;
        top: 83vh;
        left: 35vh;
        overflow: hidden;
    }
}
