* { 
margin: 0;
padding: 0; 
box-sizing: auto;
}

main {
  font-family: "Poppins";
  background-color: #2F303A;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  height: 100%;
  color: whitesmoke;
}

/*------------NAV---------*/
nav {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #202027;
  z-index: 999;
}

/*---------------MAIN---------*/

.Portada {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*-------------DISCOVER--------*/

.Discover {
  background-color: pink;
  height: 100%;

}

/*------------JOIN------------*/

.Join {
height: 100%;
width: auto;
}

/*--------------FOOTER---------*/
footer {
  background-color: yellow;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: inherit;
}