* { 
margin: 0;
padding: 0; 
scroll-behavior: smooth;
}

main {
  height: 100%;
  font-family: "Poppins";
  font-size: 1.2rem;
  background-color: #2F303A;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}


/*------------NAV---------*/
nav {
  height: 12vh;
  width: 100%;
  position: fixed;
  z-index: 9;
}

/*---------------MAIN---------*/


/*-------------DISCOVER--------*/

#portada, #discover, #join {
  width: 100%;
  overflow: hidden;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#portada { 
  height: 112vh;
}

#discover {
  height: 90vh;
  padding-top: 10vh;
}

/*------------JOIN------------*/

#join {
    height: 85vh;
    gap: 5vh;
    margin-top: 2vh;
}

/*--------------FOOTER---------*/
footer {
  background-color: #202027;
  width: 100%;
  height: 12vh;
  display: flex;
  align-content: center;
  bottom:0;
  z-index: 9;
}