* { 
margin: 0;
padding: 0; 
scroll-behavior: smooth;
}

main {
  font-family: "Poppins";
  background-color: #2F303A;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: whitesmoke;
  overflow: hidden;
}

/*------------NAV---------*/
nav {
  background-color: #202027;
  width: 100%;
  position: fixed;
}

/*---------------MAIN---------*/

.Portada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*-------------DISCOVER--------*/

.Discover {
  height: 100%;
  width: auto;
}

/*------------JOIN------------*/

.Join {
  height: 100%;
  width: auto;
}

/*--------------FOOTER---------*/
footer {
  background-color: #202027;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom:0;
  position:fixed;

}